body, html {
  font-family:sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: 100%;
  color: white;
}

.header {
  width: 100%;
  height:auto;
  font-size: x-large;
}

.wrapper {
  width: 75%;
  height: auto;
  min-height: 70%;
  margin-left: auto ;
  margin-right: auto ;
  padding: 25px 50px 75px 100px;
  font-size: 10pt;
  overflow: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.25));
}

.container {
  height: auto;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  width:100%;
  height:10%;
  display:inline-block;
  clear:both;
}

.PubList {
  width: 80%;
  font-size: 20px;
  border-collapse: collapse;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

tr.headings {
  padding: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Experimental*/
ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25));
    font-weight: bold;
    font-size: medium;
}

li {
  float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    color: inherit;
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.25);
}

li a.active {
    background-color: rgba(0, 0, 0, 0.1);
}
