{% extends "styleShell.html" %}
 {% block content %}
<h1>Add Pub</h1>
<form method="post" name="pub">
    {{ form.hidden_tag() }}
    <table style="text-align: left;">
        <th>Title:</th>
        <th>{{ form.name }}
          {% for error in form.name.errors %}
             <span style="color: red;">[{{ error }}]</span>
          {% endfor %}</th>
      </tr>
      <tr>
        <th>Postcode:</th>
        <th>{{ form.postcode }}</th>
      </tr>
      <tr>
        <th>Complete?</th>
        <th>{{ form.complete }}</th>
      </tr>
      <tr>
  </table>
    <p><input type="submit" value="Add"></p>
</form>
{% endblock %}
