{% extends "styleShell.html" %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>

<div id="mapid" style="height: 600px"></div>

<script type="text/javascript">
  //HTTP GET for Postcode API
  function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }

  //Run first in order to obtain view position
  var response = httpGet("https://api.postcodes.io/postcodes/"+"{{pubs[0].postcode}}");
  var obj = JSON.parse(response);
  var long = obj.result.longitude;
  var lat = obj.result.latitude;
  var mymap = L.map('mapid').setView([lat,long], 13);

{% for t in pubs %}
  var response = httpGet("https://api.postcodes.io/postcodes/"+"{{t.postcode}}");
  var obj = JSON.parse(response);

  var long = obj.result.longitude;
  var lat = obj.result.latitude;

  var marker = L.marker([lat,long]).addTo(mymap)
    .bindPopup('{{t.name}}');
{% endfor %}

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, UK Postcode API by <a href="https://ideal-postcodes.co.uk/">Ideal Postcodes</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiZGFueDk1MSIsImEiOiJjanB4a3VuaTkxYTV2M3lvMG15ZzRwOG5nIn0.9VW4IWGW4QrEyJjRa-yw_w'
  }).addTo(mymap);
</script>
{% endblock %}
