{% extends "styleShell.html" %}
 {% block content %}
 <h1>Pubs</h1>
 <div>
   <div><a href="/pubs">Show all</a>&nbsp<a href="/pubs/complete">Show Complete</a>&nbsp<a href="/pubs/incomplete">Show Incomplete</a></div>
   <table class="PubList">
     <tr class="headings">
       <th>ID<th/>
         <th>
           Complete
       <th/>
       <th>Name<th/>
       <th>Postcode<th/>
       <th><th/>
     </tr>
    {% for t in pubs %}
      <tr>
        <th>{{ t.id }}<th/>
          <th>
          {% if t.complete==True %}
            <input id="{{t.id}}" type="checkbox" checked="checked" onclick="return false;"/>
          {% else %}
            <input id="{{t.id}}" type="checkbox" onclick='window.location.assign("{{url_for('complete',id=t.id)}}")'/>
          {% endif %}
        <th/>
        <th>{{ t.name }}<th/>
        <th>{{ t.postcode }}<th/>
        <th><a onclick='window.location.assign("{{url_for('view',id=t.id)}}")'>View<a/><th/>
      </tr>
    {% endfor %}
  </table>
  <br>
   <div style="font-size: 16px;">{{ pubs  | length }} pubs found.</div>
 </div>
{% endblock %}
