{% extends "styleShell.html" %}
 {% block content %}
<h1>{{title}}</h1>
<form method="post" name="signin">
    {{ form.hidden_tag() }}
    <table style="text-align: left;">
        <th>Email:</th>
        <th>{{ form.email }}
          {% for error in form.email.errors %}
             <span style="color: red;">[{{ error }}]</span>
          {% endfor %}</th>
      </tr>
      <tr>
        <th>Password:</th>
        <th>{{ form.password }}</th>
      </tr>
      <tr>
  </table>
    <p><input type="submit" value="Login"></p>
</form>
{% endblock %}
