<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="{{ url_for('static',filename='style/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static',filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title> No title specified</title>
  {% endif %}
</head>

<body style="background-image: url({{ url_for('static',filename='images/field.jpg') }});">
  <div class="header">
    <div class="container">
      <h1 style="padding-top: 20px">Alesistant</h1>
    <ul>
      {% if session['Logstat'] %}
      <li><a href="{{url_for('showAllPubs')}}">Show Pubs</a></li>
      <li><a href="{{url_for('mapView')}}">View Map</a></li>
      <li><a href="{{url_for('pub')}}">Add a Pub</a></li>
        <li style="float:right;"><a href="{{url_for('signout')}}">Sign out</a></li>
      {% else %}
        <li style="float:right;"><a href="{{url_for('signup')}}">Sign-up</a></li>
        <li style="float:right;"><a href="{{url_for('signin')}}">Sign-in</a></li>
      {% endif %}
    </ul>
    </div>
  </div>

    <div class="wrapper">
      {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul id="message">
         {% for message in messages %}
           <li>{{ message }}</li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
      {% block content %}{% endblock %}
    </div>
  <div class="footer">
    <p style="float:bottom;">All Images shown throughout this site are property of Daniel Wise and are protected by the Copyright, Designs and Patents Act of 1988.</p>
  </div>
</body>
</html>
