{% extends "styleShell.html" %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
      integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
      crossorigin=""></script>

<h1>{{pub.name}}</h1>
<div>
  <table class="PubList">
    <tr>
      <th>Name:</th><th>{{pub.name}}</th>
    </tr>
    <tr>
      <th>Postcode:</th><th>{{pub.postcode}}</th>
    </tr>
  </table>
  <br>
</div>
<div id="mapid" style="height: 500px"></div>

<script type="text/javascript">
  function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }

  var postcode = "{{pub.postcode}}"

  var response = httpGet("https://api.postcodes.io/postcodes/"+postcode);
  var obj = JSON.parse(response);

  var long = obj.result.longitude;
  var lat = obj.result.latitude;

  var mymap = L.map('mapid').setView([lat,long], 13);
  var marker = L.marker([lat,long]).addTo(mymap)
    .bindPopup('{{pub.name}}')
    .openPopup();

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, UK Postcode API by <a href="https://ideal-postcodes.co.uk/">Ideal Postcodes</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiZGFueDk1MSIsImEiOiJjanB4a3VuaTkxYTV2M3lvMG15ZzRwOG5nIn0.9VW4IWGW4QrEyJjRa-yw_w'
  }).addTo(mymap);
</script>
{% endblock %}
